$lt-gray-hi-contrast: #767676;
$pgov-black: #010101;
$pgov-navy: #002578;
$pgov-blue-vivid: #0037FA;
$pgov-lt-blue-hi-contrast: #2D63FF;
$pgov-lt-blue: #4083FF;
$pgov-red: #E52207;
$pgov-tan: #F4F3EB;
$pgov-lt-tan: #F9F9F5;
$pgov-bg-blue: #F5F9FF;
$pgov-gold: #E5C107;

// Light theme colors
$white: #ffffff;
$light-gray: #f5f5f5;
$gray: #cccccc;
$dark-gray: #888888;
$black: #000000;
$primary-light: #0071bc;
$secondary-light: #005f8d;
$accent-light: #e52207;
$error-light: #d03f3f;

// Dark theme colors
$dark-background: #121212;
$dark-surface: #1e1e1e;
$dark-gray: #2c2c2c;
$darker-gray: #383838;
$light-gray-dark-theme: #f5f5f5;
$white-dark-theme: #ffffff;
$primary-dark: #4dabf7;
$secondary-dark: #1e88e5;
$accent-dark: #f44336;
$error-dark: #ef5350;