// _variables.scss

// Spacing core sizes
$spacing-core-sizes: (
  'size-1': 0.25rem,
  'size-2': 0.5rem,
  'size-3': 1rem,
  'size-4': 1.5rem,
  'size-5': 2rem,
  'size-6': 2.5rem,
  'size-7': 3rem,
  'size-8': 4rem,
  'size-9': 5rem,
  'size-10': 6rem
);

// Font sizes
$font-sizes: (
  'display-large': 6rem,    // 96px
  'display-medium': 3.25rem,  // 52px
  'display-small': 2.75rem,  // 44px
  'display-xsmall': 2.25rem,  // 36px
  'heading-xxlarge': 2.5rem,  // 40px
  'heading-xlarge': 2.25rem,  // 36px
  'heading-large': 2rem,      // 32px
  'heading-medium': 1.75rem,  // 28px
  'heading-small': 1.5rem,    // 24px
  'heading-xsmall': 1.25rem,  // 20px
  'label-large': 1.125rem,    // 18px
  'label-medium': 1rem,       // 16px
  'label-small': 0.875rem,    // 14px
  'label-xsmall': 0.75rem,    // 12px
  'paragraph-large': 1.125rem,// 18px
  'paragraph-medium': 1rem,   // 16px
  'paragraph-small': 0.875rem,// 14px
  'paragraph-xsmall': 0.75rem // 12px
);

// Line heights
$line-heights: (
  'display-large': 1.2,
  'display-medium': 1.2,
  'display-small': 1.2,
  'display-xsmall': 1.2,
  'heading-xxlarge': 1.2,
  'heading-xlarge': 1.2,
  'heading-large': 1.2,
  'heading-medium': 1.2,
  'heading-small': 1.2,
  'heading-xsmall': 1.2,
  'label-large': 1.2,
  'label-medium': 1.2,
  'label-small': 1.2,
  'label-xsmall': 1.2,
  'paragraph-large': 1.5,
  'paragraph-medium': 1.5,
  'paragraph-small': 1.5,
  'paragraph-xsmall': 1.5
);

// Font weights
$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700
);

// Font scales
$font-scales: (
  'Public Sans': 1.0,       // Baseline scale factor
  'Copernicus': 0.9298,     // Scale factor for Copernicus
  'Tesla Slab': 1.0764,     // Scale factor for Tesla Slab
  'Pscher': 0.9298          // Scale factor for Pscher
);