/* src/styles/main.css */

/* Truncate single-line text */
.pgov-metric-card .usa-card__heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Truncate multi-line text */
.pgov-metric-card .usa-card__body p {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}